@model Course

<!--
    burdaki oluşturduklarımı bootstrap içinde daha düzgün bir şekilde getirdim
    <h1>course index page</h1>
<p>
    @Model.Id 
    modelde oluşturduğum veritabanını coursecontroller içinde bıraya dinamik veri yollayıp burda ekrana yazdırdım
</p>
<p>
    @Model.Title
</p>
<p>
    @Model.Description
</p>
-->

<!--CourseList deki oluşturduğum card yapısını alıp kullandım-->

@await Html.PartialAsync("_CourseCard", @Model)